# API
# Desenvolvimento: http://localhost:8000 (Core direto)
# Produção: /api (path relativo via Nginx -> Gateway)
NEXT_PUBLIC_API_BASE_URL=/api
NEXT_PUBLIC_API_TIMEOUT=30000

# Autenticação WMS
WMS_ADMIN_USER=admin
WMS_ADMIN_PASSWORD=serra2026
WMS_SUPERVISOR_USER=supervisor
WMS_SUPERVISOR_PASSWORD=supervisor2026
WMS_OPERADOR_USER=operador
WMS_OPERADOR_PASSWORD=operador2026

# Features
NEXT_PUBLIC_ENABLE_MOCK=false
NEXT_PUBLIC_ENABLE_DEVTOOLS=true
